@use "fonts";

$primary-color: #fafafa;
$secondary-color: #c7bcbc;
$accent-color: #fafafa;
$bg-color: #820404;
$color: #000000;
$heading-font-family: "raleway-bold";
$body-font-family: "raleway-regular";
