@use "../abstracts" as a;

#quiz-container{
    background-image: url(/images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $accent-color;
  width: 100%;
  height: 100%;
}

#quiz-form{
    padding: 14px 5px;
   font-family: $body-font-family;
   align-items: center;
   justify-items: center;
}

